*{
    margin: 0;
    padding: 0;
}
header{
    max-width: 1600px;
    max-height: 766px;
}

/* shared style */


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header nav{
    width: 1600px;
    height: 92px;
    max-height: 92px ;
    margin: o auto;
    background-color: #FFFFFF;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 139px;
    height: 60px;
    padding: 16px 0px 16px 120px;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;

}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    /* gap: 32px; */

}
nav .btn{
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: 0;
    padding: 12.5px 16px;
    margin: 16px 120px 16px 0;
    border-radius: 5px;
}

#banner{
    background:  url(./assets/hero-bg.png);

    width: 1600px;
    max-width: 1600px;
    height: 674px;
    max-height: 674px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0;
    padding: 0;
    
}
#banner .banner-container .banner-content{
    
}
.btn1 {
    background-color: #FFFFFF;
    border: none;
    padding: 8px 12px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    cursor: pointer;
    margin: 115.5px 685.5px 0px 685.5px;
    
}



.banner-heading {
    
    font-size: 72px;
    line-height: 84px;
    margin:16px 415px 0px ;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.color-green{
    color: #30B868;
}
.banner-container p{
    width: 1360px;
    max-width: 1360px;
    height: 60px;
    max-height: 60px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 32px;
    text-align: center;
    padding: 16px 120px 0;
    
    
    
    
}
.banner-btn{
    text-align: center;
    gap: 16px;
    padding-top: 32px;

}

 .banner-btn .banner-btn1{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #30B868;
    padding: 16.5px 16px;
    border: 0px;
    border-radius: 5px;
    
    

 }
 .banner-btn2{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    
    border: 1px solid white;
    border-radius: 5px;
    padding: 16.5px 16px;
    margin-left: 16px;
    background-color: transparent;
 }
 button:hover{
    cursor: pointer;
 }

 #notes{
    width: 1600px;
    height: 448px;
    max-width: 1600px;
    max-height: 448px;
    background-color: #FFFFFF;
    text-align: center;
    
 }
 #notes .notes-container{
    width: 1360px;
    /* height: 152px; */
    /* max-width: 1360px;
    max-height: 152; */
    margin: 0 auto;
    /* text-align: center; */
    
 }
 #notes .notes-container h2{
    font-size: 48px;
    font-weight:700;
    /* text-align: center; */
    color: #001931;
    padding-top: 50px;
 }
 #notes .notes-container p{
    font-size: 16px;
    color: #627382;
    /* line-height: 20px; */
    padding-top: 16px;
 }
 .notes-card {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 44px 120px 0;
    gap: 24px;
    /* width: 1360px; */
 }
 .notes-card .card{
    border: 1px solid #FFFFFF;
    box-shadow: 0 6px 50px 0 #f2eeee;
    border-radius: 8px;
    width: 322px;
    max-width: 322px;
    /* height: 300px;
    max-height: 300px; */

 }
 .notes-card .card img{
    background-color: #F95555;
    border-radius: 360px;
    /* height: 60px;
    width: 60px; */
    margin: 69.5px 131px 0;
    
 }
 .notes-card .card h4{
    padding: 16px 24px 0;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
 }
 .card p{
    color: #627382;
    font-size: 16px;
    padding: 16px 24px 0px;
 }
 #brain{
    background-color: #FFFFFF;
    width: 1600px;
    max-width: 1600px;
    /* height: 840px;
    max-height: 840px; */
    
 }
 #brain .brain-container{
    display: flex;
    justify-content: flex-start;
    width: 1360px;
    height: 600px;
    max-width: 1360px;
    gap: ;

    
    margin: 120px;
 }
 #brain .brain-container .brain-image{
    
    width: 600px;
    height: 600px;

 }
 #brain .brain-set{
    

 }
 .brain-set{
    width: 700px;
    height: 444px;
    padding: 78px 0px 78px 60px;
    
 }
 .brain-set ul{
    list-style: none;
    padding: 24px 0 0;
    
 }
 .brain-set ul li{
    padding: 16px 0 0;
 }
 .brain-set .brain-content h6{
    font-size: 16px;
    font-weight:500;
    color: #469165;
    line-height: 20px;


 }
 .brain-set .brain-content h2{
    line-height: auto;
    font-size: 48px;
    font-weight: 700;
    padding-top: 16px;

 }
 .brain-content p{
    color: #627382;
    font-size: 16px;
    padding: 16px 0 0;
 }
 #access{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 506px;
 }
 #access .access-container{
    width: 1360px;
    max-width: 1360px;
    max-height: 384px;
    background-color: #F7F6F2;
    border-radius: 5px;
 }
#access .access-container h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    padding: 80px 0 0 ;
}
#access .access-container p{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight:400;
    color: #627382;
    line-height: 24px;
    padding: 16px 0 0;
}
#access .access-container .access-btn{
    display: flex;
    justify-content: center;
    padding: 24px 0 0;

}
#access .access-container button{
    
    color: #FFFFFF;
    background-color: #469165;
    border: 0;
    padding: 16.5px 16px;
    border-radius: 5px;
}

